<div>
  <%= flash[:notice] %>
</div>
<br>
<h2>Title:</h2>
<p><%= @book.title %></p>
</br>

<br>
<h2>Body:</h2>
<p><%= @book.body %></p>
</br>

<%= link_to 'Edit', edit_book_path(@book.id) %>
<%= link_to 'Back', books_path %>